@model WebVista01.ServiceReference2.Pasaje

@{
    ViewBag.Title = "Respuesta";
}

<h2>Respuesta</h2>
<div class="text-center">
    @ViewBag.agregar
    @ViewBag.mensaje
    <br />
    @Html.ActionLink("Retornar", "Create")
</div>

